html {
  margin: 0;
  padding: 0;
  font-family: "Courier New", Courier, monospace;
}

body {
  text-align: center;
}

button {
  font-family: "Courier New", Courier, monospace;
  width: 200px;
  height: 30px;
  margin: 3px;
  font-weight: bold;
}

#number {
  color: darkblue;
}

span {
  font-weight: bold;
  height: 30px;
  padding: 3px;
  white-space: normal;
  display: inline-flex;
  align-items: center;
}
